.hello {
    height: 400px;
    width: 800px;
    border-radius: 15px;
    border: 2px solid darkgray;
    margin: auto;
    text-align: center;
    background-color: darkred;
}

.hello-header{
        padding: 20px;
}

.hello .hello-header h1 {
    text-transform: uppercase;
    font-size: 75px;
    color: white;
    margin: -10px;
}
.hello .hello-header p {
    text-transform: lowercase;
    font-size: 25px;
    color: white;
    margin: 0px;
}

.hello-body {
    font-family: "Comic Sans MS";
    font-size: 100px;
    background-color: white;
    padding: 40px;
}